* {
    margin : 0;
    padding : 0;
    list-style : none ;
    text-decoration : none;
    box-sizing: border-box;
}
.container {
    width: 100%;
}
header ul {
    background-color: transparent;
    text-align: center;
    height: 130px;
}
header ul li {
    display: inline-block;
    margin-left: 90px;
    margin-top: 55px;
    font-size: 22px;
    font-family: "Arbutus Slab", serif;
}
.header_color {
    color: #207561;
}
.me {
    font-size: 30px;
    color: #207561;
}
.ben_carson {
    color: #000;
    font-size: 60px;
    margin-left: 200px;
    margin-top: 200px;
    font-family: "Arbutus Slab", serif;
    font-weight: 100;
}
.web_developer {
    color: #1a1a1a;
    margin-left: 200px;
    font-size: 30px;
    font-family: "Arbutus Slab", serif;
    font-weight: 100;
}
.portfolio {
    margin-left: 200px;
    display: block;
    height: 60px;
    width: 160px;
    font-size: 20px;
    border-radius: 30px;
    color: #fff;
    border: 0;
    margin-top: 20px;
    background-color: #154d40;
    font-family: "Arbutus Slab", serif;
}
.portfolio:hover {
    background-color: #000;
    transition: 0.5;
}
#man {
    background-image: url("./face.png.webp");
    background-size: contain;
    width: 100%;
    height: 1000px;
    background-repeat: no-repeat;
}
.my_services {
    font-family: "Arbutus Slab", serif;
    text-align: center;
    font-size: 40px;
    font-weight: 100;
    margin-top: 100px;
}
.frame {
    border: 1px solid rgb(241, 234, 234);
    height: 300px;
    width: 600px;
    display: inline-block;
    margin-left: 200px;
    margin-top: 80px;
}
.laptop {
    width: 20px;
    height: 20px;
    margin-left: 39px;
    margin-top: 39px;
}
div.img_color {
    background-color: #207561;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    padding-top: 100px;
}
.ui_ux {
    font-size: 25px;
    margin-top: 30px;
    margin-left: 120px;
    font-family: "Arbutus Slab", serif;
    font-weight: 100;
}
.lorem {
    font-size: 20px;
    margin-top: 20px;
    margin-left: 120px;
    font-family: "Arbutus Slab", serif;
    color: #666666;
}
.about_me {
    margin-left: 200px;
    font-size: 40px;
    margin-top: 300px;
    font-family: "Arbutus Slab", serif;
}
.about_me_alt_color {
    background-color: #154d40;
    height: 3px;
    width: 70px;
    margin-top: 30px;
    margin-left: 200px;
}
#middle {
    display: flex;
}
.frame_2 {
    border: 1px solid white;
    height: 150px;
    width:500px;
    margin-left: 200px;
    margin-top: 30px;
    padding-top: 20px;
}
.frame2 {
    border: 1px solid white;
    height: 150px;
    width:500px;
    margin-top: 30px;
    margin-left: 200px;
    padding-top: 20px;
}
.contact_me {
    height: 60px;
    width: 160px;
    font-size: 20px;
    border-radius: 30px;
    color: #fff;
    border: 0;
    margin-top: 20px;
    background-color: #154d40;
}
.contact_me:hover {
    background-color: #000;
}
.about_me_words {
    color:#666666 ;
    font-size: 26px;
    padding-top: 20px;
}
.middle_img {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("./face.png.webp");
    height: 400px;
    width: 400px;
    margin-left: 70px;
}
.my_portfolio {
    font-family: "Arbutus Slab", serif;
    font-size: 40px;
    margin-left: 800px; 
    margin-top: 500px;
}
.one_img {
    background-size: cover;
    border-radius: 5px;
    background-repeat: no-repeat;
    height: 370px;
    width: 500px;
}
.two_img {
    background-size: cover;
    border-radius: 5px;
    background-repeat: no-repeat;
    height: 370px;
    width: 500px;
}
.three_img {
    background-size: cover;
    border-radius: 5px;
    background-repeat: no-repeat;
    height: 370px;
    width: 500px;
}
.four_img {
    background-size: cover;
    border-radius: 5px;
    background-repeat: no-repeat;
    height: 370px;
    width: 500px;
}
.five_img {
    background-repeat: no-repeat;
    height: 370px;
    width: 500px;
    background-size: cover;
    border-radius: 5px;
}
.six_img {
    background-size: cover;
    border-radius: 5px;
    background-repeat: no-repeat;
    height: 370px;
    width: 500px;
}
.images {
    display: inline-block;
    margin-left: 72px;
    margin-top: 100px;
}
.testimonials_color {
    background-color: #343a40;
    height: 700px;
    margin-top: 100px;
}
.testimonials {
    text-align: center;
    font-size: 40px;
    padding-top: 140px;
    color: #fff;
    font-family: "Arbutus Slab", serif;
    font-weight: 100;
}
.testimonials_alt_color {
    background-color: #fff;
    height: 3px;
    width: 70px;
    margin-top: 22px;
    margin-left: 866px;
}
.testimonials_lorem {
    width: 900px;
    margin-left: 500px;
    padding-top: 100px;
    font-weight: 200;
    font-size: 22px;
    color: #fff;
    display: block;
    box-sizing: border-box;
    font-family: "Arbutus Slab", serif;
}
.carl_spencer {
    margin-top: 50px;
    text-align: center;
    color:rgba(255, 255, 255, 0.5);
    font-size: 24px;
    font-style: italic;
}
.clients {
    text-align: center;
    font-size: 40px;
    font-family: "Arbutus Slab", serif;
    font-weight: 200;
    margin-top: 150px;
}

.logos {
    display: inline-block;
    margin-left: 270px;
    height: 200px;
    width: 200px;
    margin-top: 80px;
}
.logos1 {
    height: 200px;
    width: 270px;
}
.contact_form {
    font-size: 40px;
    text-align: center;
    font-family: "Arbutus Slab", serif;
    margin-top: 250px;
}
#name_1 {
    margin-top: 100px;
    margin-left: 140px;
    height: 55px;
    width: 700px;
    color: #666666;
    font-size: 22px;
    padding-left: 20px;
    display: inline-block;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    font-family: "Arbutus Slab", serif;
}
#name_2 {
    color: #666666;
    display: block;
    margin-left:140px;
    margin-top: 70px;
    padding-left: 20px;
    font-size: 22px;
    height: 55px;
    width: 1544px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    font-family: "Arbutus Slab", serif;
}
.send_message {
    width: 200px;
    height: 55px;
    border: 0;
    font-family: "Arbutus Slab", serif;
    border-radius: 50px;
    margin-left: 140px;
    margin-top: 30px;
    font-size: 20px;
    color: #fff;
    background-color: #154d40;
}
.send_message:hover {
    background-color: #000;
}
.footer_five {
    height: 500px;
    width: 100%;
    margin-top: 130px;
    background-color:#F8F9FA;
    display: inline-block;
}
.sssss {
    display: inline-block;
    margin-left: 140px;
    font-size: 23px;
    font-weight: 200;
    font-family: "Arbutus Slab", serif;
}
.fffff {
    display: block;
    font-size: 19px;
    width: 320px;
    color: #666666;
    margin-top: 30px;
    font-family: "Arbutus Slab", serif;
}
.hhhhh {
    display: block;
    font-size: 19px;
    color: #666666;
    font-family: "Arbutus Slab", serif;
}
.all {
    margin-top: 100px;
}
.face {
    display: inline-block;
    width: 20px;
    height: 20px;
}
.copyright {
    font-family: "Arbutus Slab", serif;
    font-size: 19px;
    color: #666666;
    margin-top: 100px;
    text-align: center;
}

































/* .all {
    display: inline-block;
    margin-left: 140px;
}
.add {
    width: 310px;
    margin-top: 100px;
}
.me_address {
    font-size: 23px;
    color: #1a1a1a;
    font-weight: 200;
    font-family: "Arbutus Slab", serif;
}
.fake {
    color: #666666;
    margin-top: 30px;
    font-size: 19px;
    font-family: "Arbutus Slab", serif;
}
.all_two {
    display: inline-block;
}
.all_three {
    display: inline-block;
}
.all_four {
    display: inline-block;
}






 */
